body
{
  color: white;
  background-color: coral;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 390px;
  height: 285px; 
  border-style: solid;
  border-radius: 10px;
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

#yes
{
  background-color: salmon;
  border-color: black;
}

#capture_img_btn ,#predict_btn
{
  background-color: black;
  border-color: white;
  border-radius: 100px;
}